#bet_value {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.increase_decrease {
    cursor: pointer;
    text-align: center;
    border: 1px solid var(--color-lines);
    border-radius: 3px;
    padding: 10px;
    width: 100px;
    color: white;
    font-size: 0.7em;
}

@keyframes input_animation {
    0% {
        border: 2px solid red;
    }

    100% {
        border: "none";
    }
}


