.main_header {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: var(--cor-primaria);
    color: white;
    font-size: 1em;
}

.create_account_button_header {
    font-size: 0.8em;
    background-color: var(--color-buttons);
    padding: 10px;
    border-radius: 5px;
    color: white;
}



.container_logged_in {
    width: 220px;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login {
    text-decoration: none;
    color: white;
}

.container_logged_out h1 {
    font-size: 0.8em;
}

.container_logged_out {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: right;
    gap: 15px;
}


#total_value_container {
    font-weight: bold;
    cursor: default;
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid var(--color-lines);
    position: relative;
}

#total_value {
    display: flex;
    justify-content: right;
    min-width: 22px;
}

#money_icon {
    color: rgb(217, 255, 3);
}

.deposit_button {
    padding: 8px;
    border-radius: 4px;
    background-color: var(--color-buttons);
    color: white;
    cursor: pointer;

}

#person_container {
    padding: 5px;
    display: flex;
    align-items: center;
    border: 1px solid var(--color-lines);
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.animation_value {
    color: red;
    position: absolute;
    opacity: 0%;

}

.menu {
    background-color: antiquewhite;
    position: absolute;
    right: 50%;
    top: 50%;
    width: 200px;
    z-index: 2;
    border-radius: 8px 0px 8px 0px;
    animation: animation_menu 0.5s;
    cursor: auto;
    padding: 8px 0 8px;
    

}

.menu_hidden {
    display: none;
}

.options {
    padding: 10px;
    color: #333;
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    font-size: 7px;
    font-weight: bold;
    
}

.options:hover {
    background-color: rgb(201, 196, 196);
}

@keyframes animation_discount {
    0% {
        opacity: 0%;
        right: 30px;
        top: 0px;
    }

    50% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
        right: 25px;
        top: -8px;
    }
}


@keyframes animation_menu {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 200px;
    }
}
