header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: var(--cor-primaria);
    color: white;
}

#user_container {
    width: 220px;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#total_value_container {
    font-weight: bold;
    cursor: default;
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid var(--color-lines);
}

#total_value {
    display: flex;
    justify-content: right;
    min-width: 22px;
}

#money_icon {
    color: rgb(217, 255, 3);
}

#deposit_button {
    padding: 8px;
    border-radius: 4px;
    background-color: var(--color-buttons);
    color: white;
    cursor: pointer;

}

#person_container {
    padding: 5px;
    display: flex;
    align-items: center;
    border: 1px solid var(--color-lines);
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.menu {
    background-color: antiquewhite;
    position: absolute;
    right: 50%;
    top: 50%;
    width: 200px;
    z-index: 2;
    border-radius: 8px 0px 8px 0px;
    animation: animation_menu 0.5s;
    cursor: auto;
    padding: 8px 0 8px;
    

}

.menu_hidden {
    display: none;
}

.options {
    padding: 10px;
    color: #333;
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    font-size: 7px;
    font-weight: bold;
    
}

.options:hover {
    background-color: rgb(201, 196, 196);
}


@keyframes animation_menu{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 200px;
    }
}



  


/*Normal/Auto*/ 

#normal_auto {
    display: flex;
    padding: 20px;
    
}

.nav_button {
    cursor: pointer;
    color: white;
    font-size: 0.7em;
    width: 440px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}


/*Color selector*/

#colors_container {
    font-size: 0.8em;
    padding: 20px;
    color: white;
}

#colors {
    font-weight: bolder;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.color_buttons {
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    width: 140px;
}

#red {
    background-color: var(--color-buttons);
}

#white {
    background-color: white;
    color: var(--color-buttons);
}

#black {
    background-color: var(--color-lines);
}