#timer_container {
    width: 109px;
    font-weight: bolder;
    font-size: 0.8em;
    color: white;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 37px;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 1;
}

#countdown_container {
    display: flex;
}

#milissec_container {
    text-align: center;
    width: 15px;
}